@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="vh-100" style="background-color: #FEFEFE;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="text-center">
                            <img src="/images/logo.png"
                                 style="width: 185px;" alt="logo">
                            
                        </div>


                        <div class="form-outline mb-3">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX-2">Email</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button">
                                Log in
                            </button>
                            <button class="btn btn-outline-success my-2 my-sm-0" 
                                type="submit">Sign up</button>
                            <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
                     

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
