openapi: 3.0.0

servers:
  - description: OSM NB API
    url: 'https://osm.etsi.org/nbapi/v1.0.0'

info:
  description: |
    This is Open Source MANO Northbound API featuring ETSI NFV SOL005.
    For more information on OSM, you can visit [http://osm.etsi.org](http://osm.etsi.org).
    You can send us your comments and questions to OSM_TECH@list.etsi.org
    or join the [OpenSourceMANO Slack Workplace](https://join.slack.com/t/opensourcemano/shared_invite/enQtMzQ3MzYzNTQ0NDIyLWVkNTE4ZjZjNWI0ZTQyN2VhOTI1MjViMzU1NWYwMWM3ODI4NTQyY2VlODA2ZjczMWIyYTFkZWNiZmFkM2M2ZDk)
  version: "1.0.0"
  title: OSM NB API featuring ETSI NFV SOL005
  contact:
    email: OSM_TECH@list.etsi.org
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

tags:
  - name: 'VNF packages'
    description: Management operations of VNF descriptors and packages
  - name: 'NS packages'
    description: Management operations of NS descriptors and packages
  - name: 'NS instances'
    description: Management operations of NS instances
  - name: 'NetSlice templates'
    description: Management operations of NetSlice Templates
  - name: 'NetSlice instances'
    description: Management operations of NetSlice Instances
  - name: 'NS Performance Management'
    description: Management operations related to Performance Mangement of NS instances
  - name: 'Physical Data Units (PDU)'
    description: Management operations of PDUs
  - name: 'Authentication'
    description: Authentication operations
  - name: 'Identity'
    description: Management operations of users, projects and roles
  - name: 'Infrastructure'
    description: Management operations of VIM, VIM accounts, WIM and SDN controllers
  - name: 'Repositories'
    description: Management operations of repositories
  - name: 'Admin'
    description: Management operations of Administration items

security:
  - bearerAuth: []

paths:

# BEGIN NS Packages
  '/nsd/v1/ns_descriptors':
    get:
      tags:
        - "NS packages"
      summary: Query information about multiple NS descriptor resources
      description: Query information about multiple NS descriptor resources
      operationId: getNSDs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNsdInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNsdInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "NS packages"
      summary: Create a new NS descriptor resource
      description: Create a new NS descriptor resource
      operationId: addNSD
      requestBody:
        $ref: '#/components/requestBodies/CreateNsdInfoRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors/{nsdInfoId}':
    parameters:
      - name: nsdInfoId
        in: path
        required: true
        description: NSD Info ID
        schema:
          type: string
    get:
      tags:
        - "NS packages"
      summary: Read information about an individual NS descriptor resource
      description: Read information about an individual NS descriptor resource
      operationId: getNSD
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsdInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NsdInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NS packages"
      summary: Delete an individual NS descriptor resource
      description: Delete an individual NS descriptor resource
      operationId: deleteNSD
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - "NS packages"
      summary: Modify the data of an  individual NS descriptor resource
      description: Modify the data of an  individual NS descriptor resource
      operationId: updateNSD
      requestBody:
        $ref: '#/components/requestBodies/NsdInfoModifications'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content':
    parameters:
      - name: nsdInfoId
        in: path
        required: true
        description: NSD Info ID
        schema:
          type: string
    get:
      tags:
        - "NS packages"
      summary: Fetch the content of a NSD
      description: Fetch the content of a NSD
      operationId: getNSDcontent
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/NsPackage'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/NsPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "NS packages"
      summary: Upload the content of a NSD
      description: Upload the content of a NSD
      operationId: updateNSDcontent
      requestBody:
        $ref: '#/components/requestBodies/NsPackage'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors/{nsdInfoId}/artifacts/{artifactPath}':
    parameters:
      - name: nsdInfoId
        in: path
        required: true
        description: NS Package ID
        schema:
          type: string
      - name: artifactPath
        in: path
        required: true
        description: Artifact Path
        schema:
          type: string
    get:
      tags:
        - "NS packages"
      summary: Fetch individual NS package artifact
      description: Fetch individual NS package artifact
      operationId: getNsPkgArtifact
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors/{nsdInfoId}/nsd':
    parameters:
      - name: nsdInfoId
        in: path
        required: true
        description: NS Package ID
        schema:
          type: string
    get:
      tags:
        - "NS packages"
      summary: Read NSD of an on-boarded NS package
      description: Read NSD of an on-boarded NS package
      operationId: getNsPkgNsd
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NsDescriptor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors_content':
    post:
      tags:
        - "NS packages"
      summary: Upload a NS package by providing the content of the NS package
      description: Upload a NS package by providing the content of the NS package
      operationId: uploadNsPkgsContent
      requestBody:
        content:
          application/zip:
            schema:
              $ref: '#/components/schemas/NsPackage'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    get:
      tags:
        - "NS packages"
      summary: Query information about multiple NS package resources
      description: Query information about multiple NS package resources
      operationId: getNsPkgsContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNsdInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNsdInfo'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsd/v1/ns_descriptors_content/{nsdInfoId}':
    parameters:
      - name: nsdInfoId
        in: path
        required: true
        description: NS Package ID
        schema:
          type: string
    get:
      tags:
        - "NS packages"
      summary: Read information about an individual NS package resource
      description: Read information about an individual NS package resource
      operationId: getNsPkgsIdContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsdInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NsdInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "NS packages"
      summary: Modify an individual NS package resource
      description: Modify an individual NS package resource
      operationId: updateNsPkgsIdContent
      requestBody:
        $ref: '#/components/requestBodies/NsdInfoModifications'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NS packages"
      summary: Delete an individual NS package resource
      description: Delete an individual NS package resource
      operationId: deleteNSPkgsIdContent
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
# END NS Packages

# BEGIN VNF Packages
  '/vnfpkgm/v1/vnf_packages':
    get:
      tags:
        - "VNF packages"
      summary: Query information about multiple VNF package resources
      description: Query information about multiple VNF package resources
      operationId: getVnfPkgs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfPkgInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfPkgInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "VNF packages"
      summary: Create a new VNF package resource
      description: Create a new VNF package resource
      operationId: addVnfPkg
      requestBody:
        $ref: '#/components/requestBodies/CreateVnfPkgInfoRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages/{vnfPkgId}':
    parameters:
      - name: vnfPkgId
        in: path
        required: true
        description: VNF Package ID
        schema:
          type: string
    get:
      tags:
        - "VNF packages"
      summary: Read information about an individual VNF package resource
      description: Read information about an individual VNF package resource
      operationId: getVnfPkg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VnfPkgInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/VnfPkgInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "VNF packages"
      summary: Delete an individual VNF package resource
      description: Delete an individual VNF package resource
      operationId: deleteVnfPkg
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    patch:
      tags:
        - "VNF packages"
      summary: Modify an individual VNF package resource
      description: Modify an individual VNF package resource
      operationId: updateVnfPkg
      requestBody:
        $ref: '#/components/requestBodies/VnfPkgInfoModifications'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages/{vnfPkgId}/vnfd':
    parameters:
      - name: vnfPkgId
        in: path
        required: true
        description: VNF Package ID
        schema:
          type: string
    get:
      tags:
        - "VNF packages"
      summary: Read VNFD of an on-boarded VNF package
      description: Read VNFD of an on-boarded VNF package
      operationId: getVnfPkgVnfd
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VnfDescriptor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content':
    parameters:
      - name: vnfPkgId
        in: path
        required: true
        description: VNF Package ID
        schema:
          type: string
    get:
      tags:
        - "VNF packages"
      summary: Fetch an on-boarded VNF package
      description: Fetch an on-boarded VNF package
      operationId: getVnfPkgContent
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/VnfPackage'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/VnfPackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "VNF packages"
      summary: Upload a VNF package by providing the content of the VNF package
      description: Upload a VNF package by providing the content of the VNF package
      operationId: uploadVnfPkgContent
      requestBody:
        content:
          application/zip:
            schema:
              $ref: '#/components/schemas/VnfPackage'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages/{vnfPkgId}/artifacts/{artifactPath}':
    parameters:
      - name: vnfPkgId
        in: path
        required: true
        description: VNF Package ID
        schema:
          type: string
      - name: artifactPath
        in: path
        required: true
        description: Artifact Path
        schema:
          type: string
    get:
      tags:
        - "VNF packages"
      summary: Fetch individual VNF package artifact
      description: Fetch individual VNF package artifact
      operationId: getVnfPkgArtifact
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages_content':
    post:
      tags:
        - "VNF packages"
      summary: Upload a VNF package by providing the content of the VNF package
      description: Upload a VNF package by providing the content of the VNF package
      operationId: uploadVnfPkgsContent
      requestBody:
        content:
          application/zip:
            schema:
              $ref: '#/components/schemas/VnfPackage'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    get:
      tags:
        - "VNF packages"
      summary: Query information about multiple VNF package resources
      description: Query information about multiple VNF package resources
      operationId: getVnfPkgsContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfPkgInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfPkgInfo'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/vnfpkgm/v1/vnf_packages_content/{packageContentId}':
    parameters:
      - name: packageContentId
        in: path
        required: true
        description: VNF Package Content ID
        schema:
          type: string
    get:
      tags:
        - "VNF packages"
      summary: Read information about an individual VNF package resource
      description: Read information about an individual VNF package resource
      operationId: getVnfPkgsIdContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VnfPkgInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/VnfPkgInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "VNF packages"
      summary: Modify an individual VNF package resource
      description: Modify an individual VNF package resource
      operationId: updateVnfPkgsIdContent
      requestBody:
        $ref: '#/components/requestBodies/VnfPkgInfoModifications'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "VNF packages"
      summary: Delete an individual VNF package resource
      description: Delete an individual VNF package resource
      operationId: deleteVnfPkgsIdContent
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
# END VNF Packages

# BEGIN NS Instances
  '/nslcm/v1/ns_instances':
    get:
      tags:
        - "NS instances"
      summary: Query information about multiple NS instances
      description: Query information about multiple NS isntances
      operationId: getNSinstances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNsInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNsInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "NS instances"
      summary: Create a new NS instance resource
      description: Create a new NS instance resource
      operationId: addNSinstance
      requestBody:
        $ref: '#/components/requestBodies/InstantiateNsRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances/{nsInstanceId}':
    parameters:
      - name: nsInstanceId
        in: path
        required: true
        description: NS Instance ID
        schema:
          type: string
      - name: vcaStatusRefresh
        in: query
        required: false
        description: Set to true if vca status needs to be refreshed.
        schema:
          type: boolean
    get:
      tags:
        - "NS instances"
      summary: Read an individual NS instance resource
      description: Read an individual NS instance resource
      operationId: getNSinstance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NsInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NS instances"
      summary: Delete an individual NS instance resource
      description: Delete an individual NS instance resource
      operationId: deleteNSinstance
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances/{nsInstanceId}/instantiate':
    parameters:
      - name: nsInstanceId
        in: path
        required: true
        description: NS Instance ID
        schema:
          type: string
    post:
      tags:
        - "NS instances"
      summary: Instantiate a NS
      description: |
        Instantiate a NS. The precondition is that the NS instance must have
        been created and must be in NOT_INSTANTIATED state. As a result of the
        success of this operation, the NFVO creates a "NS Lifecycle Operation
        Occurrence" resource for the request, and the NS instance state becomes
        INSTANTIATED.
      operationId: instantiateNSinstance
      requestBody:
        $ref: '#/components/requestBodies/InstantiateNsRequest'
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: |
                It must point to the new "NS Lifecycle Operation Occurrence"
                resource, i.e. an URI like ".../ns_lcm_op_occs/{nsLcmOpOccId}"
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances/{nsInstanceId}/scale':
    parameters:
      - name: nsInstanceId
        in: path
        required: true
        description: NS Instance ID
        schema:
          type: string
    post:
      tags:
        - "NS instances"
      summary: Scale a NS instance
      description: |
        Scale a NS instance. The precondition is that the NS instance must have
        been created and must be in INSTANTIATED state. As a result of the
        success of this operation, the NFVO creates a "NS Lifecycle Operation
        Occurrence" resource for the request, and the NS instance state remains
        INSTANTIATED.
      operationId: scaleNSinstance
      requestBody:
        $ref: '#/components/requestBodies/ScaleNsRequest'
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: |
                It must point to the new "NS Lifecycle Operation Occurrence"
                resource, i.e. an URI like ".../ns_lcm_op_occs/{nsLcmOpOccId}"
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances/{nsInstanceId}/terminate':
    parameters:
      - name: nsInstanceId
        in: path
        required: true
        description: NS Instance ID
        schema:
          type: string
    post:
      tags:
        - "NS instances"
      summary: Terminate a NS instance
      description: |
        Terminate a NS instance. The precondition is that the NS instance must have
        been created and must be in INSTANTIATED state. As a result of the
        success of this operation, the NFVO creates a "NS Lifecycle Operation
        Occurrence" resource for the request, and the NS instance state becomes
        NOT_INSTANTIATED.
      operationId: terminateNSinstance
      requestBody:
        # Request data is not required
        $ref: '#/components/requestBodies/TerminateNsRequest'
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: |
                It must point to the new "NS Lifecycle Operation Occurrence"
                resource, i.e. an URI like ".../ns_lcm_op_occs/{nsLcmOpOccId}"
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances/{nsInstanceId}/action':
    parameters:
      - name: nsInstanceId
        in: path
        required: true
        description: NS Instance ID
        schema:
          type: string
    post:
      tags:
        - "NS instances"
      summary: Execute an action on a NS instance
      description: |
        Execute an action on a NS instance.
        The NS instance must have been created and must be in INSTANTIATED state.
      operationId: actionOnNSinstance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NSinstanceActionRequest'
          application/yaml:
            schema:
              $ref: '#/components/schemas/NSinstanceActionRequest'
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: |
                It must point to the new "NS Lifecycle Operation Occurrence"
                resource, i.e. an URI like ".../ns_lcm_op_occs/{nsLcmOpOccId}"
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances_content':
    get:
      tags:
        - "NS instances"
      summary: Query information about multiple NS instances
      description: Query information about multiple NS isntances
      operationId: getNSinstancesContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNsInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNsInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "NS instances"
      summary: Create a new NS instance
      description: Create a new NS instance
      operationId: createNSinstanceContent
      requestBody:
        $ref: '#/components/requestBodies/InstantiateNsRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNSinstanceContentResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/CreateNSinstanceContentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_instances_content/{nsInstanceContentId}':
    parameters:
      - name: nsInstanceContentId
        in: path
        required: true
        description: NS Instance Content ID
        schema:
          type: string
    get:
      tags:
        - "NS instances"
      summary: Read an individual NS instance resource
      description: Read an individual NS instance resource
      operationId: getNSinstanceContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NsInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NS instances"
      summary: Delete an individual NS instance resource
      description: Delete an individual NS instance resource
      operationId: deleteNSinstanceContent
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_lcm_op_occs':
    get:
      tags:
        - "NS instances"
      summary: Query information about multiple NS LCM Operation Occurrences
      description: Query information about multiple NS LCM Operation Occurrences
      operationId: getNSLCMOpOccs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNsLcmOpOcc'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNsLcmOpOcc'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}':
    parameters:
      - name: nsLcmOpOccId
        in: path
        required: true
        description: NS LCM Operation Occurrence ID
        schema:
          type: string
    get:
      tags:
        - "NS instances"
      summary: Query information about an individual NS LCM Operation Occurrence
      description: Query information about an individual NS LCM Operation Occurrence
      operationId: getNSLCMOpOcc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NsLcmOpOcc'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NsLcmOpOcc'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/vnf_instances':
    get:
      tags:
        - "NS instances"
      summary: Query information about multiple VNF Instances
      description: Query information about multiple VNF Instances
      operationId: getVnfInstances
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfInstanceInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfVnfInstanceInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/vnf_instances/{vnfInstanceId}':
    parameters:
      - name: vnfInstanceId
        in: path
        required: true
        description: VNF Instance ID
        schema:
          type: string
    get:
      tags:
        - "NS instances"
      summary: Query information about an individual VNF Instance
      description: Query information about an individual VNF Instance
      operationId: getVnfInstance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VnfInstanceInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/VnfInstanceInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  /nslcm/v1/subscriptions:
    get:
      tags:
        - NS instances
      summary: Query information about multiple NS instance subscription
      description: Query information about multiple NS instance subscription
      operationId: getNsSubcriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNslcmSubscriptionInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNslcmSubscriptionInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - NS instances
      summary: Create a new subscription for the Network service
      description: Create a new subscription for the Network service
      operationId: addNsSubcriptions
      requestBody:
        $ref: '#/components/requestBodies/NslcmSubscriptionRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NslcmSubscriptionResponse'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NslcmSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nslcm/v1/subscriptions/{nsSubscriptionsId}':
    parameters:
      - name: nsSubscriptionsId
        in: path
        required: true
        description: Network Service Subscription ID
        schema:
          type: string
    get:
      tags:
        - NS instances
      summary: Read information about an individual Network Service Subscription
      description: Read information about an individual Network Service Subscription
      operationId: getNsSubcriptionId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NslcmSubscriptionInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NslcmSubscriptionInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - NS instances
      summary: Delete an individual Network Service Subscription
      description: Delete an individual Network Service Subscription
      operationId: deleteNsSubcriptionId
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
# END NS Instances

# BEGIN NetSlice Templates
  '/nst/v1/netslice_templates':
    get:
      tags:
        - "NetSlice templates"
      summary: Query information about multiple NetSlice template resources
      description: Query information about multiple NetSlice template resources
      operationId: getNSTs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNstInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNstInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "NetSlice templates"
      summary: Create a new NetSlice template resource
      description: Create a new NetSlice template resource
      operationId: addNST
      requestBody:
        $ref: '#/components/requestBodies/CreateNstInfoRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates/{netsliceTemplateId}':
    parameters:
      - name: netsliceTemplateId
        in: path
        required: true
        description: NetSlice Template ID
        schema:
          type: string
    get:
      tags:
        - "NetSlice templates"
      summary: Read information about an individual NetSlice template resource
      description: Read information about an individual NetSlice template resource
      operationId: getNST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NstInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NstInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NetSlice templates"
      summary: Delete an individual NetSlice template resource
      description: Delete an individual NetSlice template resource
      operationId: deleteNST
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates/{netsliceTemplateId}/artifacts/{artifactPath}':
    parameters:
      - name: netsliceTemplateId
        in: path
        required: true
        description: NetSlice Template ID
        schema:
          type: string
      - name: artifactPath
        in: path
        required: true
        description: Artifact Path
        schema:
          type: string
    get:
      tags:
        - "NetSlice templates"
      summary: Fetch individual NetSlice Template artifact
      description: Fetch individual NetSlice Template artifact
      operationId: getNstArtifact
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates/{netsliceTemplateId}/nst':
    parameters:
      - name: netsliceTemplateId
        in: path
        required: true
        description: NetSlice Template ID
        schema:
          type: string
    get:
      tags:
        - "NetSlice templates"
      summary: Read NST of an on-boarded NetSlice Template
      description: Read NST of an on-boarded NetSlice Template
      operationId: getNstNst
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NetSliceTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates/{netsliceTemplateId}/nst_content':
    parameters:
      - name: netsliceTemplateId
        in: path
        required: true
        description: NetSlice Template ID
        schema:
          type: string
    get:
      tags:
        - "NetSlice templates"
      summary: Fetch the content of a NST
      description: Fetch the content of a NST
      operationId: getNSTcontent
      responses:
        '200':
          description: OK
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/NetSlicePackage'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/NetSlicePackage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "NetSlice templates"
      summary: Upload the content of a NST
      description: Upload the content of a NST
      operationId: updateNSTcontent
      requestBody:
        $ref: '#/components/requestBodies/NetSlicePackage'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates_content':
    post:
      tags:
        - "NetSlice templates"
      summary: Upload a NetSlice package by providing the content of the NetSlice package
      description: Upload a NetSlice package by providing the content of the NetSlice package
      operationId: uploadNstContent
      requestBody:
        content:
          application/zip:
            schema:
              $ref: '#/components/schemas/NetSlicePackage'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '202':
          description: Accepted
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    get:
      tags:
        - "NetSlice templates"
      summary: Query information about multiple NetSlice Template resources
      description: Query information about multiple NetSlice Template resources
      operationId: getNstContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNstInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNstInfo'
        '206':
          description: Partial Content
          headers:
            Content-Range:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nst/v1/netslice_templates_content/{netsliceTemplateContentId}':
    parameters:
      - name: netsliceTemplateContentId
        in: path
        required: true
        description: NetSlice Template ID
        schema:
          type: string
    get:
      tags:
        - "NetSlice templates"
      summary: Read information about an individual NetSlice Template resource
      description: Read information about an individual NetSlice Template resource
      operationId: getNstIdContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NstInfo'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NstInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      tags:
        - "NetSlice templates"
      summary: Modify an individual NetSlice Template resource
      description: Modify an individual NetSlice Template resource
      operationId: updateNstIdContent
      requestBody:
        $ref: '#/components/requestBodies/NstInfoModifications'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NetSlice templates"
      summary: Delete an individual NetSlice Template resource
      description: Delete an individual NetSlice Template resource
      operationId: deleteNstIdContent
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
# END NetSlice Templates

# BEGIN NetSlice Instances
  '/nsilcm/v1/netslice_instances':
    get:
      tags:
        - "NetSlice instances"
      summary: Query information about multiple NetSlice instances
      description: Query information about multiple NetSlice isntances
      operationId: getNSIs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfNetSliceInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ArrayOfNetSliceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      tags:
        - "NetSlice instances"
      summary: Create a new NetSlice instance resource
      description: Create a new NetSlice instance resource
      operationId: addNSI
      requestBody:
        $ref: '#/components/requestBodies/InstantiateNsiRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsilcm/v1/netslice_instances/{netsliceInstanceId}':
    parameters:
      - name: netsliceInstanceId
        in: path
        required: true
        description: NetSlice Instance ID
        schema:
          type: string
    get:
      tags:
        - "NetSlice instances"
      summary: Read an individual NetSlice instance resource
      description: Read an individual NetSlice instance resource
      operationId: getNSI
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetSliceInstance'
            application/yaml:
              schema:
                $ref: '#/components/schemas/NetSliceInstance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
    delete:
      tags:
        - "NetSlice instances"
      summary: Delete an individual NetSlice instance resource
      description: Delete an individual NetSlice instance resource
      operationId: deleteNSI
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/nsilcm/v1/netslice_instances/{netsliceInstanceId}/instantiate':
    parameters:
      - name: netsliceInstanceId
        in: path
        required: true
        description: NetSlice Instance ID
        schema:
          type: string
    post:
      tags:
        - "NetSlice instances"
      summary: Instantiate a NetSlice
      description: |
        Instantiate a NetSlice. The precondition is that the NetSlice instance
        must have been created and must be in NOT_INSTANTIATED state. As a result
        of the success of this operation, the NFVO creates a "NetSlice Lifecycle
        Operation Occurrence" resource for the request, and the NS instance state
        becomes INSTANTIATED.
      operationId: instantiateNSI
      requestBody:
        $ref: '#/components/requestBodies/InstantiateNsiRequest'
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              description: |
                It must point to the new "NetSlice Lifecycle Operation Occurrence"
                resource, i.e. an URI like ".../nsi_lcm_op_occs/{nsiLcmOpOccId}"
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectId'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ObjectId'
        '400':
[...]
